---

import Layout from '../layouts/Layout.astro';
import TwitterLogo from '@astropub/icons/TwitterLogo'
import GitHubLogo from '@astropub/icons/GitHubLogo'

const {twitter, github} = {
	twitter: 'https://twitter.com/sp33dfre4k',
	github: 'https://github.com/sp33dfre4k',
}
---

<Layout title='sp33dfre4k'>
	<div class="flex flex-col items-center justify-center h-screen w-screen gap-y-8 mx-8 mt-8">
		<div class="flex w-full items-center justify-start gap-x-4">
			<a href="/">
				<img src="/logo.svg" alt="Logo" class="w-8 h-8" />
			</a>
			<a href={twitter} class="group hover:text-teal-400">
				<TwitterLogo fill="white" size="24" class="group-hover:fill-teal-400"/>
			</a>
			<a href={github} class="group hover:text-teal-400">
				<GitHubLogo fill="white" size="24" class="group-hover:fill-teal-400"/>
			</a>
		</div>
		<h1 class="text-4xl font-bold"><span>sp33d</span><span class="text-teal-400">fre4k</span></h1>
		<div class="flex flex-col items-center justify-start h-full mt-8">
			<div id="sculpture-container" class="flex w-[250px] h-[250px] sm:w-[500px] sm:h-[500px] border border-slate-400 rounded-lg items-center justify-center"></div>
		</div>
	</div>
</Layout>


<script>
	import * as THREE from 'three';

	const sculptureContainer = document.getElementById('sculpture-container');

	const scene = new THREE.Scene();
	let camera: THREE.PerspectiveCamera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);
	
	if (sculptureContainer) {
		camera.aspect = sculptureContainer.clientWidth / sculptureContainer.clientHeight;
		camera.updateProjectionMatrix();
	}

	const renderer = new THREE.WebGLRenderer({ alpha: true });
	renderer.shadowMap.enabled = true;
	
	if (sculptureContainer) {
		renderer.setSize(sculptureContainer.clientWidth, sculptureContainer.clientHeight);
		renderer.setClearColor(0x000000, 0);
		sculptureContainer.appendChild(renderer.domElement);
	}
	
	const geometry = new THREE.BoxGeometry(2, 2, 2);
	const material = new THREE.MeshStandardMaterial({ color: 0x4ee4e4 });
	const cube = new THREE.Mesh(geometry, material);
	cube.castShadow = true;

	scene.add(cube);

	// Add edges to the cube
	const edges = new THREE.EdgesGeometry(geometry);
	const line = new THREE.LineSegments(edges, new THREE.LineBasicMaterial({ color: 0xffffff }));
	scene.add(line);

	// Add a plane to receive shadows
	const planeGeometry = new THREE.PlaneGeometry(10, 10);
	const planeMaterial = new THREE.ShadowMaterial({ opacity: 0.5 });
	const plane = new THREE.Mesh(planeGeometry, planeMaterial);
	plane.rotation.x = -Math.PI / 2;
	plane.position.y = -2;
	plane.receiveShadow = true; // Enable shadow receiving for the plane
	scene.add(plane);

	// Add a light source
	const light = new THREE.DirectionalLight(0xffffff, 1);
	light.position.set(5, 5, 5);
	light.castShadow = true; // Enable shadow casting for the light
	scene.add(light);

	camera.position.z = 5;

	function animate() {
		requestAnimationFrame(animate);
		cube.rotation.x += 0.01;
		cube.rotation.y += 0.01;

		renderer.render(scene, camera);
	}

	animate();
</script>